
doctype
html(lang="en")
    head
        include layout/head
    body
        include layout/navbar
        center
        for article in articleList
            .cantainer
                h1 #{article.getTitle()}
                .container
                    span.hidden.label-info #{article.getId()}
                    span.label.label-info #{article.getAuthor()}
                    span.label.label-info #{article.getCreate_time()}
                    span.label.label-info 20 times
                    span.label.label-info
                        a(href="") tags
                    span.label.label-info
                        a(href="") cats
                    span.label.label-info
                        a(href="/") 修改
                    span.label.label-info
                        a(href="") 回收文章
                .container
                    p #{article.getMessage()}



        include layout/footer