
doctype
html(lang="en")
    head
        include layout/head
    body
        include layout/navbar
        center

            table.table.table-striped.table-hover
                thead Article List
                tbody
                    each article,i in articleList
                        tr
                            td #{i+1}
                            td.col-lg-6 #{article.getTitle()}
                            if article.getUpdate_time()
                                td.col-sm-2 #{article.getUpdate_time()}
                            else
                                td.col-sm-2 #{article.getCreate_time()}

                            td.col-sm-1
                                a(href="/admin/article/#{article.getId()}/modify") Modify
                            td.col-sm-1
                                a(href="/admin/article/#{article.getId()}/delete") Delete
                            td.col-sm-1
                                a(href="/admin/article/#{article.getId()}/restore") Restore

        include layout/footer